html, body, {
	height: 100%;
}

body {
	background-color: #e1f0f0;
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}

.navbar {
    background-color: #00485c;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 7px 15px;
    border: none;
}

/* -- Barra de navegação -- */
.img-logo {
    margin-top: 2px;
    height: 40px;
	width: 160px;
	display: block;
	background: url('../img/monitorsms.png') no-repeat;
	background-size: contain;
	color: transparent;
}

.corpo {
    margin-top: 200px;
}

.table {
    margin-bottom: inherit;
}

.tabela {
    background-color: #ffffff;
}

.tabela th {
    color: #98d434;
    font-size: 14px;
}

.tabela td {
    font-size: 24px;
}

.tabela h4{
    color: #98d434;
    padding-top: 8px;
    margin-left: 35px;
    vertical-align: center;
}

.img-operadora {
    height: 30px;
	width: 30px;
	display: block;
	background: url('../img/operadora.svg') no-repeat;
	background-size: contain;
}

.agendados {
    color: #d232af;
}

.enviando {
    color: #0078dc;
}

.verde {
    color: #98d434;
}

.azul55 {
    color: #00485c;
    opacity: 0.55;
}

.azul87 {
    color: #00485c;
    opacity: 0.87;
}